<div class="container">
  <legend>Update Book</legend>
  <div class="mb-3">
    <label for="txtBookName" class="form-label">Book Name</label>
    <input
      type="text"
      [(ngModel)]="book.name"
      class="form-control"
      id="txtBookName"
    />
  </div>
  <div class="mb-3">
    <label for="txtAuthor" class="form-label">Author</label>
    <input
      type="text"
      [(ngModel)]="book.author"
      class="form-control"
      id="txtAuthor"
    />
  </div>
  <div class="mb-3">
    <label for="txtCost" class="form-label">Cost</label>
    <input
      type="number"
      [(ngModel)]="book.cost"
      class="form-control"
      id="txtCost"
    />
  </div>
  <button type="button" class="btn btn-dark" (click)="update()">Update</button>
  <a routerLink="/" class="btn btn-dark">Go back home</a>
</div>
